.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-enter {
   opacity: 0;
 }

 .fade-enter.fade-enter-active {
   opacity: 1;
   transition: opacity 0.5s ease-in-out 0.3s;
 }

 .fade-leave {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   opacity: 1;
 }

 .fade-leave.fade-leave-active {
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
 }
